<div class="legend-menu">
    <div class="legend-menu__icon">
        {{> 02-atoms/legend/icon}}
    </div>
    <div class="legend-menu__item">
        {{> 02-atoms/legend/select-item}}
    </div>
    <div class="legend-menu__legend">
        {{> 02-atoms/legend/legend}}
    </div>
    <div class="legend-menu__close">
        {{> 02-atoms/legend/close}}
    </div>
</div>