@include b('legend-menu') {
    width: fit-content;
    height: 48px;
    background-color: $palette-primary-bg;
    border: 1px solid $border-light;
    display: flex;    

    @include e('icon'){
       height: inherit;  
       padding: $pad;
       border-right: 1px solid $border-light;
       display: flex;
       align-items: center;
    }    
    @include e('item'){   
        height: inherit;    
        padding: $pad;
        border-right: 1px solid $border-light;
        display: flex;
        align-items: center;
    } 
    @include e('legend'){
        padding: 0 $pad;
        border-right: 1px solid $border-light;
        display: flex;
        align-items: center;
    } 
    @include e('close'){
        width: 48px;
        padding: $pad;   
        display: flex;
        align-items: center; 
        justify-content: center;  
    } 

}

@include b("legend-list"){
    @include e("header"){
        padding-bottom: $pad;
        font-size: $font-size-small-2;
        font-weight: 700;
    }
    
    @include e("item"){
        display: flex;
        align-items: baseline;

        .color{
            padding-right: $pad;
        }
        .textbox{
            .state{
                font-weight: 600;
                font-size: $font-size-small;
            }
            .description{
                font-size: $font-size-smallest;
                color:  $text-gray;
            }
        }
    }        
    
}