@include b('parameter-table') {
    padding: $pad;
}

section .icon-text-row {
    margin-bottom: $space-double;
}

@include b('element-table') {
    padding-right: $pad;

    &:last-child{
        padding-right: 0; 
    }
}