<div class="graph-box">
    <div class="graph-box__header">
        <h4 class="graph-box__title">POVIJESNI PODACI</h4>
        <div class="graph-box__buttons">
            <div class="graph-box__col1">
            {{# graph-list1}}
                {{> 02-atoms/buttons/btn-group}}
            {{/ graph-list1}}
            </div>
            <div class="graph-box__col2">
            {{# graph-list2}}
                {{> 02-atoms/buttons/btn-group}}
            {{/ graph-list2}}
            </div>
        </div>
    </div>
    <div class="graph">
        Prikaz grafa
    </div>
</div>