@include b('graph-box'){
    
    @include e('header'){
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: $pad; 
        margin-bottom: $space-double;
        border-bottom: 1px solid $border-light;
        margin-left: -$pad-double;
        margin-right: -$pad-double;
        padding-left: $pad-double;
        padding-right: $pad-double;

        
        @media only screen and (max-width: $bp-small-2) {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    @include e('title'){
        font-size: $font-size-small-2;
        font-weight: 700;
    }
    
    @include e('graph'){
        
    }

    @include e('buttons'){
        display: flex;
    }

    @include e('col1'){
        padding-right: $pad-double;
    }
    @include e('col2'){
        
    }

}