<div class="footer-map">
    <div class="footer-map__item">
        Powered by IGEO@2017
    </div>
    <div class="footer-map__item">
        <a href="http://www.in2.hr" class="">    
            Terms    
        </a>
    </div>
    <div class="footer-map__item">
        <a href="http://www.in2.hr" class="">    
            Send feedback    
        </a>
    </div>
    <div class="footer-map__item">
       50 Km <span class="footer-map__distance-line" style="width:50px"></span> 
    </div>    
</div>