@include b('footer') {   
    display: flex;  
    padding: $pad-quad $pad-double $pad-double $pad-double;     
    
    @include e('icon') {
        width: $pad-quad;
        margin-left: $pad-half;
        display: flex;
        justify-content: center;
        align-items: center;

        img{
            width: 100%;
            height: auto;
        }
    }

    @include e('text') {        
        color: $light-gray;      
        font-size: $font-size-small;
    }
}