<div class="footer">
    <div class="footer__text">
        Developed by
    </div>
    <a href="http://www.in2.hr" class="footer__icon">
        <img src="{{img.footer.src}}" alt="{{img.footer.alt}}"></img>
    </a>
</div>