<div class="footer">
    <div class="footer__text">
        Developed by
    </div>
    <div class="footer__icon">
        <img src="{{img.footer.src}}" alt="{{img.footer.alt}}"></img>
    </div>
</div>