<nav class="icons">
    <div class="icons__item icons__item--first">
    {{> 02-atoms/buttons/btn-primary(ek-icon: "ek-layers-all" )}}
    </div>    
    <div class="icons__item">
    {{> 02-atoms/buttons/btn-secondary(ek-icon: "ek-tlo", caption-text: "Tlo" )}}
    </div>
   <div class="icons__item">
    {{> 02-atoms/buttons/btn-secondary(ek-icon: "ek-pipa", caption-text: "Voda" )}}
    </div>
    <div class="icons__item">
    {{> 02-atoms/buttons/btn-secondary-active(ek-icon: "ek-temp", caption-text: "Meteo" )}}
    </div>
    <div class="icons__item">
    {{> 02-atoms/buttons/btn-secondary-active(ek-icon: "ek-zrak", caption-text: "Zrak" )}}
    </div>
    <div class="icons__item">
    {{> 02-atoms/buttons/btn-secondary-disabled(ek-icon: "ek-pelud", caption-text: "Pelud" )}}
    </div>    
</nav>