@include b('icons') {
    width: inherit;

    @include e('item'){
        margin: $pad;

        @media only screen and (max-width: $bp-med) {            
            margin: $pad-half;            
        }

        @include m('first'){
            margin-bottom: $pad-double;  
            
            @media only screen and (max-width: $bp-med) {            
                margin-right: $pad-double;            
            }
            
        } 
        @include m('last'){
            margin-top: $pad-double;   
            
        } 
    }    

    @include m('horizontal-mob'){

        @media only screen and (max-width: $bp-med) {
            display: flex;       
            
        }
    }

}