<nav class="icons">          
    <div class="icons__item">
    {{> 02-atoms/buttons/btn-primary(ek-icon: "ek-info" )}}
    </div> 
    <div class="icons__item">
    {{> 02-atoms/buttons/btn-primary(ek-icon: "ek-share" )}}
    </div> 
</nav> 