<nav class="icons">
    <div class="icons__item">
    {{> 02-atoms/buttons/btn-primary(ek-icon: "ek-compass-1" )}}
    </div>       
    <div class="icons__item">
    {{> 02-atoms/buttons/btn-primary(ek-icon: "ek-picture" )}}
    </div> 
    <div class="icons__item">
    {{> 02-atoms/buttons/btn-primary(ek-icon: "ek-plus" )}}
    </div>       
    <div class="icons__item">
    {{> 02-atoms/buttons/btn-primary(ek-icon: "ek-minus" )}}
    </div> 
</nav>