<div class="location-details">
    {{> 03-molecules/title-group/title-subtitle-icon}}   
    <div data-simplebar class="location-details__content location-details__content--without-tabs">
        <div class="location-details__box">
        <h4 class="section-title">NAČIN KORIŠTENJA URBANOG TLA</h4>
            Dječje igralište  
        </div>    
        <div class="location-details__box">
            <h4 class="section-title">METALI</h4>
            <div class="location-details__table">
            {{> 04-organisms/tables/element-table}}            
            </div>
        </div>
        <div class="location-details__box location-details__box--bordered">
            <h4 class="section-title">INFORMACIJE</h4>
            {{> 02-atoms/texts/medium-text}}   
        </div>
    </div>    
</div>