<div class="location-details">
    {{> 03-molecules/title-group/title-subtitle-icon}}    
    <div data-simplebar class="location-details__content location-details__content--without-tabs">
    <div class="location-details__box">
         {{> 03-molecules/ground-element/ground-element}}
    </div>    
    <div class="location-details__box">
         {{> 03-molecules/graph/graph-with-header}}
    </div>
    </div>
</div>