<div class="location-details">
    {{> 03-molecules/title-group/title-subtitle-icon}}    
    <div class="location-details__box">
         {{> 03-molecules/ground-element/ground-element}}
    </div>    
    <div class="location-details__box">
         {{> 03-molecules/graph/graph-with-header}}
    </div>

</div>