<article class="social-media">
  <section class="social-media__header">
    <h3>Podijeli kartu sa svojim prijateljima</h3>
    {{> 02-atoms/buttons/btn-close}}
   </section>
   <section class="social-media__content">
   {{> 04-organisms/tables/share-table}}
   </section>
   <section>
    <h4 class="social-media__title">Podijeli link na tvoju kartu</h4>
    {{> 02-atoms/inputs/input-with-button}}
   </section>
</article>