<aside class="details" role="" >
    <section class="details__icons">
        <div class="top">
            {{> 03-molecules/icons/icons-top}}
        </div>
        <div class="bottom">
            {{> 03-molecules/icons/icons-bottom}}
        </div>
    </section>
    <section class="details__box">
    box
    </section>  
</aside>