<header class="location-details__title">
   <div>
    {{> 02-atoms/titles/location-title}}
   </div>
   <div class="location-details__close-btn">
    {{> 02-atoms/buttons/btn-close}}
   </div>
</header>
