<div class="smiley-section">    
    <div class="smiley-section__row1">
    {{> 02-atoms/smiley/smiley}}
    </div>
    <div class="smiley-section__row2">
         <div class="smiley-section__info">
            {{smiley.info}}
        </div>  
        <div class="smiley-section__status">
            {{smiley.status}}
        </div> 
        <div class="smiley-section__date">
            {{smiley.date}}
        </div> 
    </div>    
</div>