@include b('category'){
    &.is-close {
        .list {
            display: none;
        }
    }

    @include e('item'){
        background-color: $lightest-gray;
        display: flex;
        align-items: center;	
        border-bottom: $border-xs solid $palette-primary;
    }
    @include e('icon') {
        color:  $palette-primary;
        margin: $pad $pad-double;

    }
    @include e('title') {
        font-size: $font-size-small;
        color:  $color-black;	
        flex-basis: calc(100vh - 88px);	

        @include m('big'){
            
        }
    }

}