<div class="category__item">
<i class="ek ek--12x12 {{category-icon}} category__icon"></i>
<div class="category__title">{{category-name}}</div>
<i class="ek ek--12x12 ek-down-open category__icon"></i>
</div>