    <i class="{{item-icon}} item__icon"></i>
    <div class="item__text">
        <div class="item__title">{{item-title}}</div>
        <div class="item__subtitle">{{item-subtitle}}</div>
    </div>
    <i class="{{item-icon-ok}} ek ek--12x12 ek-ok item__icon-ok"></i>
