@include b('item') {
    @include e('icon') {
        color:  $palette-primary;
        margin: $pad $pad-double;
    }
    
    @include e('icon-ok'){
        display: none;
        align-items: center;
        margin-right: $pad;
        font-size: $font-size-small;
        color: $color-gray;
    }

    @include e('text'){
        color:  $color-black;	
        flex-basis: calc(100vh - 88px);	
    }
    @include e('title') {
        font-size: $font-size-small;
        color: $palette-tertiary;		
        line-height: 21px;
    }
    @include e('subtitle') {
        color: #72727D;	
        font-size: $font-size-smallest;
        line-height: 14px;
    }
    
    
}


@include b('categossry'){
    &.is-close {
        .list {
            display: none;
        }
    }

    @include e('item'){
        background-color: $lightest-gray;
        display: flex;
        align-items: center;	
        border-bottom: $border-xs solid $palette-primary;
    }
    @include e('icon') {
        color:  $palette-primary;
        margin: $pad $pad-double;

    }
    @include e('title') {
        font-size: $font-size-small;
        color:  $color-black;	
        flex-basis: calc(100vh - 88px);	

        @include m('big'){
            
        }
    }

}