<div class="item">
    <div class="item__icon"><i class="{{item-icon}}{{^item-icon}}ek-pipa{{/item-icon}}"></i></div>
    <div class="item__text">
        <div class="item__title">{{item-title}}{{^item-title}}Default Title{{/item-title}}</div>
        <div class="item__subtitle">{{item-address}}{{^item-address}}Default subTitle{{/item-address}}</div>
    </div>
</div>





