<div class="item">
    <div class="item__icon {{item-icon-style}}"><i class="{{item-icon}}"></i></div>
    <div class="item__text">
        <div class="item__title">{{item-title}}</div>
        <div class="item__subtitle">{{item-subtitle}}</div>
    </div>
</div>