<main class="admin">
<aside class="admin__menu is-active">
    {{> 04-organisms/admin-menu/menu}}
    
</aside>
<section class="admin__content-box">
    <header class="admin__header">
        {{> 04-organisms/admin-header/admin-header}}
    </header>
    <section class="admin__content">
        <article class="admin__main-box">
            Lista ....
        </article>
        <aside class="admin__sidebar is-active">
            {{> 04-organisms/admin-details/admin-details}}        
        </aside>
    </section>
<section>
</main>