<aside class="menu is-active is-selected" >
  <section class="menu__box">
    {{> 04-organisms/left-menu/left-menu}}
    </section>
  <section class="menu__icons">
    {{> 03-molecules/icons/icons-menu}}
  </section>
  <section class="menu__legend">
    {{> 03-molecules/legend/legend}}
  </section>
<aside>