@include b('menu'){
    height: 100vh;    
    width: inherit;
    display: flex;  
    transition: transform 500ms,-webkit-transform 500ms;  
    left: -328px;
    position: absolute; 

    &.is-active{
        transform: translate(328px,0);

        .btn--main{
            .inactive{
                display: none;
            }
            .active{
                display: block;
            }
        }
    }

    &.is-selected{
        .menu__legend{
            display: block;
        }

        .icons__item .btn--secondary{
            display: none;
        }
    }
    
    @include e('box'){
        width: 320px;
        background-color:  $palette-primary-bg;
        box-shadow: 0 0 8px 0 rgba(0,0,0,0.2); 
        margin-right: $pad;
    }

    @include e('iconbox'){
        padding: $pad-triple 0;
        background-color:  transparent;
        display: flex;
        flex-direction: column;
        justify-content: space-between;           
    }

    @include e('top'){
        display: flex;
    }

    @include e('bottom'){
        margin-left: $pad;
    }
       
    @include e('icons'){        
        width: 64px;    
        height: fit-content;     
    }

    @include e('legend'){
        margin: $pad;           
        height: fit-content;
        display: none; 
    }

    
    @media only screen and (max-width: $bp-xl) {
        left: -278px;

        &.is-active{            
            transform: translate(278px,0);
        }

        .menu__box{
            width: 270px;  
        }
        
    }
    
}