<aside class="menu" role="" >
  <section class="menu__box">
    {{> 04-organisms/left-menu/left-menu}}
    </section>
  <section class="menu__icons">
    {{> 03-molecules/icons/icons-menu}}
  </section>
<aside>