<aside class="left-menu" role="" >
    {{> 03-molecules/brand/brand }}
    <div class="tabs">
   {{> 03-molecules/tabs/tabs }}
   <!--<div class="container">
    <section class="default" id="tab-1">
     <header>
      <h2>Tab 1</h2>
     </header>
     <p>This is the first tab.</p>
    </section>
    <section id="tab-2">
     <header>
      <h2>Tab 2</h2>
     </header>
     <p>This is the second tab.</p>
    </section>
    <section id="tab-3">
     <header>
      <h2>Tab 3</h2>
     </header>
     <p>This is the third tab.</p>
    </section>
   </div>-->
  </div>
  
<aside>