<div class="admin-header">
    <div class="admin-header__col1">
        <div class="admin-header__title">
            Postaja / Markuševac 1
        </div>
        {{> 03-molecules/admin-tabs/admin-tabs}}
    </div>
    <div class="admin-header__col2">
    
    </div>
</div>