<div class="admin-header">
    <div class="admin-header__col1">
        <div class="admin-header__titlebox">
            <div class="admin-header__title">Postaja / Markuševac 1</div>
            <span class="admin-header__link">Uredi</span>
        </div>
        {{> 03-molecules/admin-tabs/admin-tabs}}
    </div>
    <div class="admin-header__col2">
        {{> 02-atoms/buttons/btn-icon}}
    </div>
</div>