@include b('admin-header'){
    height: 100%;    
    width: 100%;     
    margin: 0;   
    padding: $pad $pad-double 0 $pad-double;   
    background-color: white;
    border-bottom: $border-xs solid $light-gray;    
    display: flex; 
    align-items: center;
    justify-content: space-between;
            
    @include e('col1'){              
        display: block;   
    }
    @include e('col2'){
        display: flex;  
        width: 384px;
        background-color: gray 
    }

    @include e('titlebox'){
        display: flex;   
        align-items: baseline;
        padding-bottom: $pad-double;         
    }
    @include e('title'){        
        font-size: $font-size-large;
        font-weight: 700;
    }
    @include e('link'){            
        padding-left: $pad;
        font-size: $font-size-med;
        color: $admin-green;
    }

}