<div class="location-details">
    {{> 03-molecules/title-group/title-subtitle-icon}}
    {{> 03-molecules/tabs/tab}}
    <div class="location-details__box">
        <h4 class="section-title">MJERENE TVARI</h4>
        {{> 03-molecules/list-items/water-list}}    
    </div>
    <div class="location-details__box location-details__box--gray">
        <h4 class="section-title">NAPOMENA</h4>
        {{> 02-atoms/texts/medium-text}}   
    </div>
</div>