<div class="chart-with-legend">    
    <div class="chart-with-legend__row1">
        <div class="chart-with-legend__chart">
            {{> 02-atoms/charts/donut-chart}}
        </div>  
        <div class="chart-with-legend__date-label">
            Datum zadnjeg mjerenja
        </div> 
        <div class="chart-with-legend__date">
            25.10.2017 12:00
        </div>
    </div> 
    <div class="chart-with-legend__row2">
         {{> 03-molecules/legend/legend-list}}      
    </div>    
</div>