<aside class="asideL" >
    <section class="asideL__menubox">
        {{> 04-organisms/left-menu/left-menu}}
    </section>
    <section class="asideL__navbox">
        {{> 03-molecules/icons-menu/icons-menu}}
    </section>

</aside>