.list-item{
    display: flex;
    align-items: center;
    justify-content: space-between;

    .name{

    }
    .value{
        color:  $text-gray;
    }
}

.pelud-row{
    display: flex;
    align-items: center;
    justify-content: space-between;

    .first-column{
        .sort{
            font-size: $font-size-small;
            color: $text-gray; 
            line-height: 2;           
        }
        .type{
            font-size: $font-size-med;
            font-weight: 700;          
        }
    }

    .second-column{
        text-align: center;
        .state{
            font-size: $font-size-med;
            font-weight: 700;
            //color: $text-gray;

            &.green{
                color: $legend-green;
            }
            &.yellow{
                color: $legend-yellow;
            }
            &.red{
                color: $legend-red;
            }
            &.grey{
                color: $legend-grey;
            }
            &.light{
                color: $legend-light;
            }
        }
        .date{
            font-size: $font-size-smallest;
            color: $text-gray;           
        }
    }
    
}