<div class="pelud-row">
    <div class="first-column">
        <div class="sort">
            {{pelud-sort}}
        </div>
        <div class="type">
            {{pelud-type}}
        </div>
    </div>
    <div class="state">
        {{pelud-state}}
    </div>  
</div>