<li class="water-list__item">
    <div>
        <div class="water-list__name">{{name}}</div>
        <div class="water-list__desc">{{desc}}</div>
    </div>
    <div class="water-list__value">{{value}}</div>
</li>