@include b('donut-chart') {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 0 auto 2rem;
    border-radius: 100%;

    @include e('outline') {
      border-radius: 50%;
      clip: rect(0px, 200px, 200px, 100px);
      height: 100%;
      position: absolute;
      width: 100%;
    }

    @include e('data') {
      border-radius: 50%;
      clip: rect(0px, 100px, 200px, 0px);
      height: 100%;
      position: absolute;
      width: 100%;
      font-family: monospace;
      font-size: 1.5rem;
    }

    @include e('hole') {
      background: white;
      position: absolute;
      top:0;left:0;bottom:0;right:0;
      width: 85%;
      height: 85%;
      margin: auto;
      border-radius: 50%;
      line-height: 35px;
      padding: 15% 0 0;
    }
}


#porcion1 {
    transform: rotate(0deg);
  }

#porcion1 .donut-chart__data {
    background-color: #E64C65;
    transform: rotate(76deg);
  }
#porcion2 {
    transform: rotate(76deg);
  }
#porcion2 .donut-chart__data {
    background-color: #11A8AB;
    transform: rotate(140deg);
  }
#porcion3 {
    transform: rotate(215deg);
  }
#porcion3 .donut-chart__data {
    background-color: #4FC4F6;
    transform: rotate(113deg);
  }
#porcionFin {
    transform:rotate(-32deg);
  }
#porcionFin .donut-chart__data {
    background-color: #FCB150;
    transform: rotate(32deg);
  }
  
  p.center-date {
    background: white;
    position: absolute;
    top:0;left:0;bottom:0;right:0;
    width: 85%;
    height: 85%;
    margin: auto;
    border-radius: 50%;
    line-height: 35px;
    padding: 15% 0 0;
  }
 