<div class="donut-chart">
     <div id="porcion1" class="donut-chart__outline"><div class="donut-chart__data" data-rel="21"></div></div>
     <div id="porcion2" class="donut-chart__outline"><div class="donut-chart__data" data-rel="39"></div></div>
     <div id="porcion3" class="donut-chart__outline"><div class="donut-chart__data" data-rel="31"></div></div>
     <div id="porcionFin" class="donut-chart__outline"><div class="donut-chart__data" data-rel="9"></div></div>
      <p class="donut-chart__hole"> </p>            
</div>
          