@include b('brand'){
    display: flex;
    padding: $space-double;
    align-items: center;
    background-color: rgba(235,237,238,0.3);	
    box-shadow: 0 1px 0 0 rgba(0,0,0,0.1);

    @include e('logo'){
        display: flex;
        align-items: center;
    }
    
    @include e('slogan'){
        font-size: $font-size-small-2;
        line-height: $space-double;
        letter-spacing: 1px;
        font-weight: 800;
        padding-left: $space-double;
    }
}