@include b('legend-circle'){
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: block;

    @include m(darkgreen){
        background-color: $legend-darkgreen;
    }
    @include m(green){
        background-color: $legend-green;
    }
    @include m(yellow){
        background-color: $legend-yellow;
    }
    @include m(orange){
        background-color: $legend-orange;
    }
    @include m(red){
        background-color: $legend-red;
    }
    @include m(grey){
        background-color: $legend-grey;
    }
    @include m(light){
        background-color: $legend-light;
    }
}