<div class="legend">
    <div class="legend__item">
        <div class="element">
            <span class="xl"></span>
        </div>
        <div class="text">
            {{ek-text}}{{^ek-text}}>200{{/ek-text}}
        </div>
    </div>
    <div class="legend__item">
        <div class="element">
            <span class="l"></span>
        </div>
        <div class="text">
            {{ek-text}}{{^ek-text}}150-200{{/ek-text}}
        </div>
    </div>
    <div class="legend__item">
        <div class="element">
            <span class="m"></span>
        </div>
        <div class="text">
            {{ek-text}}{{^ek-text}}60-150{{/ek-text}}
        </div>
    </div>
    <div class="legend__item">
        <div class="element">
            <span class="s"></span>
        </div>
        <div class="text">
            {{ek-text}}{{^ek-text}}<60{{/ek-text}}
        </div>
    </div>
</div>