<div class="location-details">
    {{> 03-molecules/title-group/title-subtitle-icon}}    
    <div class="location-details__box-wide">
        {{> 03-molecules/list-items/pelud-list}} 
    </div>
    <div class="location-details__box-text">
        {{> 03-molecules/text/text-with-header}} 
    </div>
    <div class="location-details__box-text">
        {{> 03-molecules/legend/legend-list}} 
    </div>
</div>