/*------------------------------------*\
    #BODY
\*------------------------------------*/

/**
 * Body base styles
 */
body {
	background: $color-white;
	color: $palette-tertiary;
	font: 100%/1.5 $font;	
	min-height: 100vh;	
	overflow-x: hidden;
}
