<div class="element-row">
   <div class="element-row__col1">
    {{> 02-atoms/cells/element-cell}}
    <div class="element-row__col2">
        <div class="element-row__name">
            {{element.name}}
        </div>
        <div class="element-row__time">
            {{element.time}}
        </div>
    </div>
   </div>
   <div class="element-row__col3">{{element.data}}</div>   
</div>