<section class="parameter-data">
   <div class="parameter-data__first">{{> 02-atoms/cells/round-cell}}</div>
   <div class="parameter-data__main">{{> 02-atoms/cells/normal-cell}}</div>
   <div>{{> 02-atoms/cells/number-cell}}</div>
</section>