@include b('parameter-data') {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
    margin-bottom: $pad;

    @include e('main') {
        flex-grow: 5;
    }

    @include e('first') {
        margin-right:$pad;
        
    }
}

@include b('icon-text-row') {
    display: flex;
    align-items: center;

    @include e('text') {
        margin-left: $pad-double;
        font-size: $font-size-med;
        color: $palette-tertiary;
    }
}