@include b('parameter-data') {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
    margin-bottom: $pad;

    @include e('main') {
        flex-grow: 5;
    }

    @include e('first') {
        margin-right:$pad;
        
    }
}

@include b('icon-text-row') {
    display: flex;
    align-items: center;

    @include e('text') {
        margin-left: $pad-double;
        font-size: $font-size-med;
        color: $palette-tertiary;
    }
}

@include b('element-row') {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $pad 0;

    @include e('col1') {
        display: flex;
        align-items: center;
    }
    @include e('col2') {
        padding: 0 $pad;    
    }
    @include e('col3') {
        font-weight: 600;
        font-size: $font-size-small-2;
        color: $text-gray;
    }
    @include e('name') {
        font-weight: 600;
        font-size: $font-size-small-2;
    }
    @include e('time') {
        font-size: $font-size-small;
        color: $text-gray;
        line-height: 1;
    }
}