@include b("locations-list"){
    @include e("item"){
        display: flex;
        justify-content: space-between;
        padding: $pad-half 0;

        &:hover {
            background-color: $lightest-gray;
        }
    
        &.is-active {
            .locations-list__icon-ok {
                display: flex;
                align-items: center;
                margin-right: $pad;
                font-size: $font-size-small;
                color: $color-gray;
            }
        }

        @include e("icon-ok"){
            display: none;
        }
    }
    @include m('with-header'){

    }

}

@include b("layers-list"){
    @include e("item"){
        display: flex;
        justify-content: space-between;
        padding: $pad-half 0;

        &:hover {
            background-color: $lightest-gray;
        }
    
        &.is-active {
            .item__title {
                color: $palette-primary;
            }
            .layers-list__icon-ok {
                display: flex;
                align-items: center;
                margin-right: $pad;
                font-size: $font-size-small;
            }
        }

        @include e("icon-ok"){
            display: none;
        }
    }
}


@include b("list"){
    @include e("item"){
        display: flex;
        justify-content: space-between;
        padding: $pad-half 0;
        border-bottom: $border-xs solid $border-light;

        &:hover {
            background-color: $lightest-gray;
        }
    
        &.is-active {
            .item__icon-ok {
                display: flex;
                
            }
        }

        @include e("icon-ok"){
            display: none;
        }
    }
    @include m('with-header'){

    }

}

@include b('categories'){
    height: calc(100vh - 220px);
    overflow-y: auto;
}


.water-list{
    .list-item{
        padding: $pad-half 0;
    }    
}

@include b("pelud-list"){

    @include e("item"){
        padding: $pad $pad-double;        
        border-bottom: 2px solid $border-light;
    }
    @include e('header'){
        padding: $pad $pad-double;
        font-weight: 700;
        font-size: $font-size-small-2;
        border-bottom: 2px solid $border-light;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

}

