@include b("locations-list"){
    @include e("item"){
        display: flex;
        justify-content: space-between;
        padding: $pad-half 0;

        &:hover {
            background-color: $lightest-gray;
        }
    
        &.is-active {
            .locations-list__icon-ok {
                display: flex;
                align-items: center;
                margin-right: $pad;
                font-size: $font-size-small;
                color: $color-gray;
            }
        }

        @include e("icon-ok"){
            display: none;
        }
    }
    @include m('with-header'){

    }

}

@include b("layers-list"){
    @include e("item"){
        display: flex;
        justify-content: space-between;
        padding: $pad-half 0;

        &:hover {
            background-color: $lightest-gray;
        }
    
        &.is-active {
            .item__title {
                color: $palette-primary;
            }
            .layers-list__icon-ok {
                display: flex;
                align-items: center;
                margin-right: $pad;
                font-size: $font-size-small;
            }
        }

        @include e("icon-ok"){
            display: none;
        }
    }
}


@include b("list"){
    @include e("item"){
        display: flex;
        justify-content: space-between;
        padding: $pad-half 0;

        &:hover {
            background-color: $lightest-gray;
        }
    
        &.is-active {
            .list__icon-ok {
                display: flex;
                align-items: center;
                margin-right: $pad;
                font-size: $font-size-small;
                color: $color-gray;
            }
        }

        @include e("icon-ok"){
            display: none;
        }
    }
    @include m('with-header'){

    }

}
