@include b("list"){
    @include e("item"){
        display: flex;
        align-items: center;
        padding: $pad 0;
        border-bottom: $border-xs solid $border-light;

        &:hover {
            background-color: $lightest-gray;
        }
    
        &.is-active {
            background-color: $lightest-gray;
            .item__icon-ok {
                display: flex;
                
            }
        }
        
        @include m("header"){
            
        }
    }
    @include e('header-item'){
        display: none;
        align-items: center;
        padding: $pad 0;	
        border-bottom: $border-xs solid $border-light;
    }

    @include e('scrollable'){
        height: calc(100vh - 229px);
    }

    @include e('with-headers'){
        .list__header-item {
            display: flex;
        }
    }
    

}


@include b('water-list'){
    font-size: $font-size-small-2;
    
    @include e('item'){
        display: flex;
        align-items: center;
        justify-content: space-between;
        //padding: $pad 0;
        padding: $pad-half 0;
        border-bottom: $border-xs solid $border-light;
    
        &:first-child{
            border-top: $border-xs solid $border-light;
        }
    }

    @include e('desc'){
        font-size: $font-size-small;
        color: $text-gray;
    }

    @include e('name'){
        font-weight: 600;
    }

    @include e('value'){
        color: $text-gray;
    }
}

@include b("pelud-list"){

    @include e("item"){
        padding: $pad $pad-double;        
        border-bottom: 2px solid $border-light;
    }
    @include e('header'){
        padding: $pad $pad-double;
        font-weight: 700;
        font-size: $font-size-small;
        border-bottom: 2px solid $border-light;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

}

