{{# categories}}
    <div class="category">
    {{> 02-atoms/items/category }}
    <ul class="list">
    {{# layers-list}}

        <li class="list__item {{ css }}">    
            {{> 02-atoms/items/item }}
            <div class="list__icon-ok"><i class="ek-ok"></i></div>
        </li>

    {{/ layers-list }}
    </ul>
    </div>
    {{/ categories}}
