<!--<script src="../../js/simplebar.js"></script>--> 
    {{# list}}
    <ul data-simplebar class="list list__scrollable {{ list-class }}">
        {{# categories}}
            <li class="list__header-item {{ css }}">
                {{> 02-atoms/items/header-item }}
            </li>
        {{# item-list}}
            <li class="list__item {{ css }}">    
                {{> 02-atoms/items/item }}            
            </li>
        {{/ item-list }}
        {{/ categories}}
    </ul> 
    {{/list}}   
