<ul class="item-list">
{{# location-list}}
    <li class="item-list__item {{ css }}">
    {{> 02-atoms/items/item }}
    <div class="item-list__icon-ok"><i class="ek-ok"></i></div>
    </li>
{{/ location-list}}
</ul>