@include b("item-list"){
    @include e("item"){
        display: flex;
        justify-content: space-between;
        padding: $pad-half 0;

        &:hover {
            background-color: $light-gray;
        }
    
        &.is-active {
            .item-list__icon-ok {
                display: flex;
                align-items: center;
            }
        }

        @include e("icon-ok"){
            display: none;
        }
    }
}