<ul class="locations-list">
{{# location-list}}
    <li class="locations-list__item {{ css }}">
    {{> 02-atoms/items/item }}
    <div class="locations-list__icon-ok"><i class="ek-ok"></i></div>
    </li>
{{/ location-list}}
</ul>