@include b('left-menu'){
        width: 320px;
        background-color:  $palette-primary-bg;
        box-shadow: 0 0 8px 0 rgba(0,0,0,0.2); 
        margin-right: $pad;
        height: 100vh;
    @include e('tabs') {
        text-align: center;
    }
    @include e('input') {
            padding: $pad;
            padding-top: 0px;
    }
       
}