 <section class="left-menu">
    {{> 03-molecules/brand/brand }}
    {{> 03-molecules/tabs/tabs }}
    {{> 02-atoms/search/search }}
    <div class="left-menu__list">
        {{> 03-molecules/list-items/locations-list }}
    </div>    
</section>
