 <section class="left-menu">
    {{> 03-molecules/brand/brand }}
    <div class="left-menu__tabs">
        {{> 03-molecules/tabs/tabs }}
    </div>
    <div class="left-menu__input">
        {{> 02-atoms/input-fields/input-with-icon }}
    </div>
    <div class="left-menu__list">
        {{> 03-molecules/list-items/locations-list }}
    </div>
</section>
