<div class="location-details">
    {{> 03-molecules/title-group/title-subtitle-icon}}
    {{> 03-molecules/tabs/tab}}
    <div class="location-details__tables">
        {{> 04-organisms/tables/parameter-table}}
        {{> 04-organisms/tables/parameter-table}}
    </div>
    <footer class="location-details__text">
    {{> 02-atoms/texts/medium-text}}
    </footer>
</div>