<header class="location-header">
   <div class="location-header__title">
    {{> 02-atoms/titles/location-title}}
   </div>
   <div class="location-header__close-btn">
    {{> 02-atoms/buttons/btn-close}}
   </div>
</header>
