<div class="input-with-icon">
    <input type="text" class="input-with-icon__input" placeholder="{{input.with-icon.placeholder}}" value>
    <i class="{{input.with-icon.icon}} input-with-icon__icon"></i> 
</div>