<main class="app">
<header>
    {{> 04-organisms/menu/menu }}
</header>
<main class="">
    <map></map>    
<main>
<aside class="right-aside">
    {{> 05-templates/location-details/location-details }}
<aside>
</main>