<div class="btn btn--secondary ">
    <div class="btn__caption">    
        <i class="ek ek-layers-all"></i>   
        <span class="btn__caption-text">    
            Voda
        </span>
    </div>
</div>