<div class="btn btn--secondary is-disabled">
    <div class="btn__caption">    
        <i class="ek {{ek-icon}}{{^ek-icon}}ek-pipa{{/ek-icon}}"></i>  
        <span class="btn__caption-text">    
            {{caption-text}}{{^caption-text}}Voda{{/caption-text}}
        </span>
    </div>
</div>