<div class="btn btn--main">
    <span class="inactive"><i class="ek {{ek-icon}}{{^ek-icon}}ek-layers{{/ek-icon}}"></i></span>
    <span class="active"><i class="ek {{ek-icon}}{{^ek-icon}}ek-cancel-2{{/ek-icon}}"></i></span>
</div>