@include b('btn') {
    width: 48px;
    height: 48px;    
    border: 1px solid;
    border-radius: $border-radius;   
    cursor: pointer; 
    box-shadow: 0 0 8px 0 rgba(74,74,74,0.1), 0 2px 4px 0 rgba(0,0,0,0.1);  
    
    @include e('with-text') {
        border-style: solid;
        border-color: $palette-primary;
        border-radius: 3px;
        border-width: 1px;
        padding: $pad-half;
        padding-left: $pad-triple;
        padding-right: $pad-triple;
        color: $palette-primary;
        font-size: $font-size-small-2;
        z-index: 1;
        position: relative;
        text-align: center;
        &:hover {
            cursor: pointer;
            color: white;
           
        }

        &:hover:after {
            transform: scaleY(1);
        }

        &:after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transform: scaleY(0);
            transform-origin: bottom center;
            background: $palette-primary;
            z-index: -1;
            transition: transform 0.3s;
        }
    }

    @include e('link') {
        margin-left: $pad-half;
        color:  $palette-tertiary;
        font-size: $font-size-small-2;
        text-decoration: underline;
        font-weight: 700;
        
        &:hover {
            cursor: pointer;
            color: $palette-primary;
          
        }
    }

    @include m('main'){
        background-color: rgba($palette-secondary, 0.9);
        border-color: $palette-secondary;
        color: $color-white;
        display: flex;
        justify-content: center;
        align-items: center;       
        
        .active{
            display: none;        
        }
        .inactive{
            display: block;
        }

        &:hover{
            opacity: 0.8;
        }
    }
    
    @include m('primary'){
        background-color: rgba($palette-secondary, 0.9);
        border-color: $palette-secondary;
        color: $color-white;
        display: flex;
        justify-content: center;
        align-items: center;       
        
        &.is-active{
            background-color: rgba($palette-primary, 0.9);   
            border-color: $palette-primary;    
        }

        &:hover{
            opacity: 0.8;
        }
    }

    @include m('secondary'){
        background-color: rgba($palette-primary-bg, 0.9);
        color: $color-gray;
        border-color: $color-gray;
        display: block;        
        overflow: hidden; 
            
        &:hover{
            border-color: rgba($palette-primary, 0.9);
            color: $palette-primary;
        }

        &.is-active{
            background-color: rgba($palette-primary, 0.9);
            color: $color-white;  
            
            .btn__caption{
                transform: translate(0,-4px);
                
            }
            .btn__caption-text{
                transform: translate(0,-16px);
            }

            &:hover{
                background-color: rgba($palette-primary-bg, 0.9);
                color: $color-gray;
                border-color: $color-gray;

                .btn__caption{
                    transform: translate(0,0);
                    
                }
                .btn__caption-text{
                    transform: translate(0,0); 
                }
            }
        }

        &.is-disabled{
            background-color: rgba($palette-secondary, 0.9);
            color: $color-white;  
            border-color: $palette-secondary;          
            opacity: 0.8;

            &:hover{               

                .btn__caption{
                    transform: translate(0,0);
                    
                }
                .btn__caption-text{
                    transform: translate(0,0);
                }
            }
        }

        
    } 

    @include e('share') {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 3px;
        position: relative;
        &:hover .btn__share-overlay {
            height: 100%;
          }

        @include m('facebook') {
            background-color: #36549C;
            color: white;
            border-color: #36549C;
        }

        @include m('twitter') {
            background-color: #1DA1F2;
            color: white;
            border-color: #1DA1F2;
        }

        @include m('email') {
            background-color: #E21C1F;
            color: white;
            border-color: #E21C1F;
        }
    }

    @include e('share-overlay') {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        overflow: hidden;
        width: 100%;
        height: 0;
        transition: .5s ease;
    }

    @include e('share-text') {
      
            white-space: nowrap; 
            color: white;
            font-size: $font-size-small;
            position: absolute;
            overflow: hidden;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
          
    }

    @include e('close') {
        color:   $icon-close-color;
        height: 18px;	
        width: 18px;	
        border-radius: 9px;
        &:hover {
             cursor: pointer;
             color: $color-gray-active;
        }
    }


@include e('caption'){
    width: 48px;
    height: 48px;
    padding: $pad-one-and-half;
    transition: transform 500ms,-webkit-transform 500ms;
    position: relative; 

    &-text{
        position: absolute;
        bottom: -16px;
        font-size: 10px;
        text-align: center;
        width: 48px;
        left: 0;
        overflow: hidden;
        text-overflow: clip;
    }   

    &:hover{  
        transform: translate(0,-4px);
        .btn__caption-text{
            transform: translate(0,-16px);
        }

    }

}

@include e('with-text-inverted') {
    border-style: solid;
    border-color: $palette-primary;
    border-radius: 3px;
    border-width: 1px;
    padding-left: $pad-triple;
    padding-right: $pad-triple;
    color: white;
    font-size: $font-size-small-2;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: $palette-primary;
    &:hover {
        cursor: pointer;
        color: $palette-primary;
        background-color: white;
    }
}


}

@include b('tab') {
    cursor: pointer;
    color: $palette-tertiary;
    font-size: $font-size-small;	
    text-align: center;
    padding: $pad-half $pad;
    &:hover {
        color: $palette-primary;

    }

    &.is-active {
        color: $palette-primary;
        border-bottom: $palette-primary;
        border-bottom-style: solid;
    }
}

@include b('btn-group') {
    border: 1px solid $border-light;
    border-radius: $border-radius;
    width: fit-content;
    font-size: $font-size-small-2;
    font-weight: 600;
    display: flex;
    align-items: center;

    @include e('button'){
        padding: $pad;
        background-color: $lightest-gray;
        border-right: 1px solid $border-light;
        cursor: pointer;

        &:last-child{
            border-right: none;
        }

        &:hover{
            background-color:  $light-gray;
        }

        &.is-active{
            color: $palette-primary;

            &:hover{
                background-color: $lightest-gray;
                cursor: default;
            }
        }
    }
}
     

.btn__share i {
    font-size: 30px;
} 

  .btn__share--facebook .btn__share-overlay {
    background-color: #36549C;
  }

  .btn__share--twitter .btn__share-overlay {
    background-color: #1DA1F2;
  }

  .btn__share--email .btn__share-overlay {
    background-color: #E21C1F;
  }

  .btn__with-text-inverted-container {
      background: $palette-primary;
  }
