<div class="location-details">
    {{> 03-molecules/title-group/title-subtitle-icon}}         
    <div class="location-details__box">
        <h4 class="section-title">MJERENJE</h4>
        <div class="location-details__table">
         {{> 04-organisms/tables/element-table}}
         {{> 04-organisms/tables/element-table}}
        </div>
    </div>
    <div class="location-details__box">
        <h4 class="section-title">24H MJERENJE</h4>
        <div class="location-details__table">
         {{> 04-organisms/tables/element-table}}
         {{> 04-organisms/tables/element-table}}
        </div>
    </div>
    <div class="location-details__box ">
        {{> 03-molecules/legend/legend-list}}   
    </div>
</div>