<i class="{{location-icon}}{{^location-icon}}ek-zrak{{/location-icon}}"></i>
<h1>{{location-name}}{{^location-name}}Default Title{{/location-name}}</h1>
<p>{{location-address}}{{^location-address}}Default subTitle{{/location-address}}</p>