<div class="location-title">
    <i class="{{location-details.location-icon}} location-title__icon"></i>
    <div class="location-title__title-wrapper">
        <h1 class="location-title__title">{{location-details.location-name}}</h1>
        <p class="location-title__subtitle">{{location-details.location-address}}</p>
    </div>
</div>