@include b('location-title') {
    display: flex;
    @include e('icon') {
        font-size: 40px;
        color:  $palette-primary;
        margin-right: $pad-triple;
    }
    @include e('title') {
        font-size: $font-size-med-2;	
        font-weight: bold;	
        line-height: 33px;
    }
    @include e('subtitle') {
        color: #72727D;	
        font-size: $font-size-small-2;
        line-height: 19px;
    }
    @include e('open-icon') {
        color: #72727D;	
        cursor: pointer;
    }
    
}

@include b('category-title'){
    display: flex;
    @include e('icon') {
        font-size: 18px;
        color:  $color-gray;
        margin-right: $pad-triple;
    }
    @include e('title') {
        font-size: $font-size-med;
        color:  $color-gray;		
    }
}