@include b('location-title') {
    display: flex;
    @include e('icon') {
        font-size: 32px;
        color:  $palette-primary;
        padding: 0 $pad-double;
        align-self: center;
        //margin-right: $pad-triple;
    }
    @include e('title') {
        font-size: $font-size-med-2;	
        font-weight: bold;	
        line-height: 2;
    }
    @include e('subtitle') {
        color: #72727D;	
        font-size: $font-size-small-2;
        line-height: 1;
    }
    @include e('open-icon') {
        color: #72727D;	
        cursor: pointer;
    }
    
}

