<div class="location-details">
    {{> 03-molecules/title-group/title-subtitle-icon}}    
    <div data-simplebar class="location-details__content location-details__content--without-tabs"> 
    <div class="location-details__box">
        <h4 class="section-title section-title--no-padding">PROGNOZA DANAS</h4>
        <h5 class="section-subtitle">Zadnje mjerenje: 12:00</h5>
        {{> 03-molecules/list-items/temp-list}}
    </div>
    <div class="location-details__box location-details__box--bordered">
        <h4 class="section-title">INFORMACIJE</h4>        
          {{> 03-molecules/list-items/link-list}}
    </div>
    <div class="location-details__box">
         {{> 03-molecules/graph/graph-with-header}}
    </div>
    </div>
</div>