@include b('tabs') {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding-top: $pad-one-quarter;
    padding-bottom: $pad-one-quarter;
    border-bottom-color:  $light-gray;

    li {
        display: inline;
        padding-left: $pad;
        padding-right: $pad;
    }

    @include m('centered'){
        display: flex;
        justify-content: center;
    }
}