@include b('tabs') {
    border-bottom: $border-xs solid $light-gray;
    padding-top: $pad;
    padding-bottom: $pad;
    font-size: $font-size-small;

    @include e('item'){
        display: inline;
        padding: 0 $pad;
    }

    @include m('centered'){
        display: flex;
        justify-content: center;
    }
}