<div class="admin-menu-item {{admin-active}}">
    <div class="admin-menu-item__text">
        {{admin-text}}
    </div>
    <div class="admin-menu-item__iconbox">
        {{> 02-atoms/admin-menu/icon}}
    </div>
</div>