@include b('rounded-cell') {
    border-radius: 12px;
    border-style: solid;
    border-color:  $light-gray;
    border-width: 1px;
    font-size: $font-size-small;
    padding: $pad-half;
    font-weight: 700;
    width: 40px;
    text-align: center;
}

@include b('normal-cell') {
    font-size: $font-size-small-2;
    color:  $palette-tertiary;
    line-height: 18px;
    cursor: pointer;
}

@include b('number-cell') {
    font-size: $font-size-med;
    color:   $color-gray-active;
    line-height: 18px;
    font-weight: 700;
}