<header class="admin-details__header">
    {{> 02-atoms/buttons/btn-primary(ek-icon: "ek-compass-1" )}}
    <div class="admin-details__title">Očitanja parametara</div>
    {{> 02-atoms/buttons/btn-close}}
</header>