<ul data-simplebar class="admin-details__list">
    {{# admin-details.list}}
        <li class="admin-details__item">    
            {{> 02-atoms/items/item-2title-1icon }}            
        </li>
    {{/ admin-details.list}}
</ul> 
