{{#admin-details.notification}}
<ul class="admin-details__notification">
    {{#publish}}
    <li class="admin-details__notification-item">{{> 02-atoms/items/item-1title-1input}}</li>
    {{/publish}}
    {{#notification}}
    <li class="admin-details__notification-item">{{> 02-atoms/items/item-1title-1icon}}</li>
    {{/notification}}
</ul>
{{/admin-details.notification}}