<div class="icons-menu">
    <div class="icons-menu__item icons-menu__item--first">
    <div class="btn btn--primary">
        <i class="ek ek-layers-all"></i>
    </div>
    </div>
    <div class="icons-menu__item">
    <div class="btn btn--secondary ">
    <div class="btn__caption">    
        <i class="ek ek-tlo"></i>   
        <span class="btn__caption-text">    
            Tlo
        </span>
    </div>
    </div>
    </div>
    <div class="icons-menu__item">
    <div class="btn btn--secondary ">
    <div class="btn__caption">    
        <i class="ek ek-pipa"></i>   
        <span class="btn__caption-text">    
            Voda
        </span>
    </div>
    </div>
    </div>
    <div class="icons-menu__item">
    <div class="btn btn--secondary is-active">
    <div class="btn__caption">    
        <i class="ek ek-temp"></i>   
        <span class="btn__caption-text">    
            Meteo
        </span>
    </div>
    </div>
    </div>
    <div class="icons-menu__item">
    <div class="btn btn--secondary is-active">
    <div class="btn__caption">    
        <i class="ek ek-zrak"></i>   
        <span class="btn__caption-text">    
            Zrak
        </span>
    </div>
    </div>
    </div>
    <div class="icons-menu__item">
    <div class="btn btn--secondary is-active">
    <div class="btn__caption">    
        <i class="ek ek-pelud"></i>   
        <span class="btn__caption-text">    
            Pelud
        </span>
    </div>
    </div>
    </div>
    <div class="icons-menu__item icons-menu__item--last">
    <div class="btn btn--primary">
        <i class="ek ek-share"></i>
    </div>
    </div>
</div>