@include b('ground-element'){
    display: flex;
    flex-direction: column;
    align-items: center;

    @include e('name'){
        font-size: $font-size-huge;
        font-weight: 600;
        padding-top: $pad-double;
        padding-bottom: $pad;
    }
    @include e('circle'){        
        padding: $pad-double;
    }
    @include e('label'){
        font-size: $font-size-small;
        color: $text-gray;
    }
    @include e('date'){
        font-size: $font-size-med-2;
        font-weight: 700;
        padding-bottom: $pad-double;
    }
}