<div class="ground-element">
    <div class="ground-element__name">
        {{ground-element.name}}
    </div>
    <div class="ground-element__circle">
        {{> 02-atoms/circle/circle-with-number}}
    </div>
    <div class="ground-element__label">
        {{ground-element.label}}
    </div>
    <div class="ground-element__date">
        {{ground-element.date}}
    </div>
    {{> 02-atoms/texts/medium-text}}
</div>